@use "library";
@use "index";

.app {
    max-width: 40%;

    @media screen and (max-width: 640px) {
        max-width: 50%;
    };

    @media screen and (max-width: 570px) {
        max-width: 60%;
    };

    @media screen and (max-width: 400px) {
        max-width: 75%;
    };
    
}