@use "index";
@use "library";

.app header {
    text-align: right;
    
    @include library.box-margin-padding (1rem, 2rem 0 0);

    & > * {
        display: inline-block;
    }
    
    h1 {
        float: left;
    }

    h1, h6 {
        margin-block-start: 0;
        margin-block-end: 0;
        vertical-align: bottom;
    }

    h6 {
        @include library.box-margin-padding(0 1.5rem, 0);
    }

    div {
        text-align: center;
        position: relative;
        width: 4rem;
        span {
            font-size: 10px;
            display: inline-block;
            vertical-align: bottom;
            button {
                display: block;
                
                height: 0.8rem;
                width: 0.8rem;
                @include library.box-margin-padding(5px 3px 3.5px, 0);
                background-color: index.$red-key-background-toggle;
                border-radius: 50%;
                border: none;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }

        #themeController {
            position: absolute;
            width: 100%;
            height: 2em;
            border-radius: 12px;
            right: 0.4px;
            bottom: 0;
            z-index: -1;
            background-color: index.$toggle-background-keypad-background;
        }


    }

}

