@use "library";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

// font
$font-family: 'League Spartan', sans-serif;
$font-size-numbers: 32px;
$font-size-button: 24px;
$font-weight: 700;



//Backgrounds

$main-background: hsl(222, 26%, 31%);//Very dark desaturated blue
$toggle-background-keypad-background:hsl(223, 31%, 20%); //Very dark desaturated blue ():
$screen-background: hsl(224, 36%, 15%); //Very dark desaturated blue 

//Keys
$key-background: hsl(225, 21%, 49%); //Desaturated dark blue
$key-shadow: hsl(224, 28%, 35%); //Desaturated dark blue
$red-key-background-toggle: hsl(6, 63%, 50%);
$dark-red-key-shadow: hsl(6, 70%, 34%);

$light-grayish-orange-key-background: hsl(30, 25%, 89%);
$grayish-orange-key-shadow: hsl(28, 16%, 65%, 90%);

//Text

$verydark-grayish-blue: hsl(221, 14%, 31%);
$white: hsl(0, 0%, 100%);

//Theme 2

//#### Backgrounds

$Light-gray-main-background: hsl(0, 0%, 90%);
$Grayish-red-toggle-background-keypad-background: hsl(0, 5%, 81%);
$Very-light-gray: hsl(0, 0%, 93%); //(screen background),

//#### Keys

$Dark-moderate-cyan: hsl(185, 42%, 37%); //(key background)
$Very-dar-cyan: hsl(185, 58%, 25%); //(key shadow)

$Orange: hsl(25, 98%, 40%);//(key background, toggle)
$Dark-orange: hsl(25, 99%, 27%); //(key shadow)

$Light-grayish-yellow: hsl(45, 7%, 89%); //(key background)
$Dark-grayish-orange: hsl(35, 11%, 61%);//(key shadow)

//#### Text

$Very-dark-grayish-yellow: hsl(60, 10%, 19%);
$White: hsl(0, 0%, 100%);//(text)

//### Theme 3

//#### Backgrounds

$Very-dark-violet : hsl(268, 75%, 9%); //(main background)
$Very-dark-violet-toggle:  hsl(268, 71%, 12%); //(toggle background, keypad background, screen background):


//#### Keys

$Dark-violet: hsl(281, 89%, 26%); //(key background)
$Vivid-magenta: hsl(285, 91%, 52%); //(key shadow)

$Pure-cyan: hsl(176, 100%, 44%);//(key background, toggle)
$Soft-cyan: hsl(177, 92%, 70%); //(key shadow)

$Very-dark-violet: hsl(268, 47%, 21%); //(key background)
$Dark-magenta: hsl(290, 70%, 36%); //key shadow

//#### Text

$Light-yellow: hsl(52, 100%, 62%);
$Very-dark-blue: hsl(198, 20%, 13%);
$White: hsl(0, 0%, 100%);//(text)
/*
## Typography

### Body Copy

*/


body {
    @include library.center-display;
    @include library.box-margin-padding(0, 0);
}

/*
#root {
    @include library.box-initial($main-background,$white, $font-size-numbers, $font-family);
    @include library.center-display;
    width: 100vw;
    height: 100vh;
}*/

.container {
    @include library.box-initial($main-background,$white, $font-size-numbers, $font-family);
    @include library.center-display;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.app {
    max-width: 1440px;
    @include library.center-display;
}

.container {
    &[theme = "1"] {
        header{
            button[value = "2"], button[value = "3"] {
                opacity: 0;
            } 
        }
    }


    &[theme = "2"] {
        background-color: $Light-gray-main-background;
        color: $Very-dark-grayish-yellow;
        
        #themeController {
            background-color: $Grayish-red-toggle-background-keypad-background;
        }

        header{
            button[value = "1"], button[value = "3"] {
                opacity: 0;
            }
            
            button[value = "2"] {
                background-color:  $Orange;
            }
        }

        #output {
            background-color: $Very-light-gray;
        }

        #input {
            background-color: $Grayish-red-toggle-background-keypad-background;
            button, .right .numberButton button, .right div:nth-child(2) button {
                background-color: $Light-grayish-yellow;
                box-shadow: 0px 3px $Dark-grayish-orange;
                color: $Very-dark-grayish-yellow;

                &:hover {
                    background-color: hsl(0, 100%, 100%);
                }
            }

            button[value = "DEL"], button[value = "RESET"]  {
                background-color: $Dark-moderate-cyan;
                box-shadow: 0px 3px $Very-dar-cyan;
                color: $White;

                &:hover {
                    background-color: hsl(185, 37%, 51%);
                }
            }

            button[value = "="] {
                background-color: $Orange;
                box-shadow: 0px 3px $Dark-orange;
                color: $White;

                &:hover {
                    background-color: hsl(25, 91%, 53%);
                }
            }
        }
    }

    &[theme = "3"] {
        background-color: $Very-dark-violet;
        color: $Light-yellow;
        
        #themeController {
            background-color: $Very-dark-violet-toggle;
        }

        header{
            button[value = "1"], button[value = "2"] {
                opacity: 0;
            }

            button[value = "3"] {
                background-color:  $Pure-cyan;
            }
        }

        #output {
            background-color: $Very-dark-violet-toggle;
        }

        #input {
            background-color: $Very-dark-violet-toggle;
            
            button, .right .numberButton button, .right div:nth-child(2) button {
                background-color: $Very-dark-violet;
                box-shadow: 0px 3px $Dark-magenta;
                color: $Light-yellow;

                &:hover {
                    background-color: hsl(268, 40%, 34%);
                }
            }

            button[value = "DEL"], button[value = "RESET"]  {
                background-color: $Dark-violet;
                box-shadow: 0px 3px $Vivid-magenta;
                color: $White;

                &:hover {
                    background-color: hsl(281, 68%, 45%);
                }
            }

            button[value = "="] {
                background-color: $Pure-cyan;
                box-shadow: 0px 3px $Soft-cyan;
                color: $Very-dark-blue;

                &:hover {
                    background-color: hsl(176, 98%, 55%);
                }
            }
        }
    }
}







